@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  overflow-x: hidden;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

[hidden] {
  display: none;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    color: #fff;
    opacity: 0.8;
    padding: .5em;
}

.skip-links a:focus {
    top: 0;
}

.logo {
    position: absolute;
    height: 2em;
    width: 6em;
    margin-left: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav-bar {
    widows: 100%;
    height: 4em;
    z-index: 2000;
}

.nav {
    list-style-type: none;
    text-align: right;
    position: absolute;
    display: flex;
    right: 0em;
}

.nav-links {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #B22222;
}

body {
    margin: 0;
}

header {
    background-color: #fff;
    padding: 0 auto;
    position: relative;
}

img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 30px;
    margin-left: 20px;
    padding: 20px;
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    letter-spacing: 2px;
}

.intro {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
    padding: 20px;
    line-height: 25px;
}

.about-content {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    padding-bottom: 100px;
}

.work {
    margin: 0 auto;
    padding: 0;
}

.span2 { 
    width: 32%;
    padding: 0; 
    margin: 0; 
    float: left; 
    margin-right: 1%; 
}

.span2 img {
    max-width: 100%; 
}

h2 {
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    letter-spacing: 2px;
}

p { 
    font-family: Futura, Trebuchet MS, Arial, sans-serif; 
    font-weight: 300;
}

.reveal p { 
    margin: 0; 
}

.span2 p {
    text-align: center; 
}

.reveal .hidden { 
    display: block; 
    visibility: visible 
}

.product:hover .reveal img { 
    opacity: 1; 
}

.reveal { 
    position: relative; 
}

.reveal .hidden { 
  position: absolute; 
  z-index: -1;
  top: 0; 
  width: 100%; 
  height: 100%;  
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;  
}

.reveal:hover .hidden { 
  z-index: 100000;
  opacity: 1;    
}

.reveal .caption {
  position: absolute;
  top: 0;  
  display: table;
  width: 100%;
  height: 100%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.reveal .hidden .caption .centered {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 480px) and (max-width: 979px) {
  .reveal .caption { 
    font-size: 11px; 
  }
}

footer {
    margin: 0 auto;
    padding: 5.5em;
}

.social-media {
	position: absolute;
}

.social-media a {
	opacity: 0.8;
	display: inline-block;
	padding: .3em .3em .3em .3em;
}

.email {
	width: 2.5em;
	height: 2.5em;
	background-image: url("../images/email-red.svg");
	background-repeat: no-repeat;
}

.email:hover {
	background-image: url("../images/email.svg");
}

.linkedin {
	width: 2.5em;
	height: 2.5em;
	background-image: url("../images/linkdn-red.svg");
	background-repeat: no-repeat;
}

.linkedin:hover {
	background-image: url("../images/linkdn.svg");
}

.behance {
	width: 2.5em;
	height: 2.5em;
	background-image: url("../images/behance-red.svg");
	background-repeat: no-repeat;
}

.behance:hover {
	background-image: url("../images/behance.svg");
}

.instagram {
	width: 2.5em;
	height: 2.5em;
	background-image: url("../images/instagram-red.svg");
	background-repeat: no-repeat;
}

.instagram:hover {
	background-image: url("../images/instagram.svg");
}

.copyright {
    padding-top: 5em;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}

@media only screen and (min-width: 25em) {
	
	
}

@media only screen and (min-width: 38em) {
	
	.nav-bar {
        text-align: right;
    }
    

}

@media only screen and (min-width: 60em) {
	
	
}