---
permalink: 404.html
---

<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Mystine Laframboise Vien{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.meta}}">
  <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
</head>

  <body class="pagenotfound">
      <p class="oops">Oops!</p>
        <a href="http://mystine.ca">
        <p class="try-again">Looks like something went wrong. Try again?</p>
      </a> 
  </body>
</html>