---
layout: default
---

<main id="main" role="main">
  
    <div class="about-content unit unit-s-1 unit-m-1-2 unit-l-1-2">
        <h1 class="sup">Hello,</h1>
        <p id="introduction" class="intro kilo">My name is Mystine. I am a French Canadian Graphic Designer based out of Ottawa, Ontario. I have been studying in Graphic Design for the past 3 years and I am really passionate about it. I enjoy working in Graphic Design field because it challenges my creative side, but it also develops my intellectual side, because I am constantly learning and discovering new techniques to use. I’ve learnt over the years that your talents will be recognized through hard work and belief, and with that being said, I hope to one day create my own brand to share with the world. On a side note, I love cats and a wine fanatic. Cheers!</p>
    </div>
    
<div class="grid" id="work">
    {% include portfolio.html image="http://placehold.it/400x400/B22222" %}

    {% include portfolio.html image="http://placehold.it/400x400/808080" %}
    
    {% include portfolio.html image="http://placehold.it/400x400/000000" %}
    
    {% include portfolio.html image="http://placehold.it/400x400/444" %}
    
    {% include portfolio.html image="http://placehold.it/400x400/B22222" %}

    {% include portfolio.html image="http://placehold.it/400x400/808080" %}
</div> 
    
</main>
