<div class="grid" id="work">
        <div class="work unit unit-s-1 unit-m-1-2 unit-l-1-3" id="portfolio">
            <div class="span">
                <div class="reveal">
                    <img src="{{include.image}}" alt="Work 1">
                        <div class="hidden">
                            <div class="caption">
                                <div class="centered">
                                    <h2>Project 1</h2>
                                        <p>Description</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</div>
