@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  overflow-x: hidden;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

[hidden] {
  display: none;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    color: #fff;
    opacity: 0.8;
    padding: .5em;
}

.skip-links a:focus {
    top: 0;
}

.skip-links a:visited {
    color: white;
}

.logo {
    position: absolute;
    height: 2em;
    width: 6em;
    margin-left: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav-bar {
    widows: 100%;
    height: 4em;
    z-index: 1000;
}

a {
    color: #8A2BE2;
    text-decoration: none;
}

a:visited {
    color: black;
}

.nav {
    list-style-type: none;
    text-align: right;
    position: absolute;
    display: flex;
    right: 0em;
}

.nav-links {
    display: inline-block;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.nav-links:visted {
    
    text-decoration: underline;
}


body {
    margin: 0;
}

header {
    background-color: #fff;
    padding: 0 auto;
    position: relative;
}

img {
    width: 100%;
    display: block;
}

h1 {
    padding-left: 80px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: #8A2BE2;
}

.intro {
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.about-content {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.work {
    margin: 0 auto;
    padding: 0;
}

.span2 { 
    width: 32%;
    padding: 0; 
    margin: 0; 
    float: left; 
    margin-right: 1%; 
}

.span2 img {
    max-width: 100%; 
}

h2 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 0;
    color: #8A2BE2;
}

h3 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 0;
    color: #8A2BE2;
}

p { 
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.portfolio-h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    margin: 0 auto;
    color: #000000;
    padding-top: 50px;
    padding-left: 50px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.portfolio-h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0 auto;
    color: #000000;
    padding-left: 50px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}


.button {
    padding-bottom: 50px;
    padding-top: 50px;
}

.back-button {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 50px;
    text-decoration: underline;
    color: #8A2BE2;
}

.email {
	background-image: url("../images/email.svg");
	background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    
}

.linkedin {
	background-image: url("../images/linkdn.svg");
	background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
}

.behance {
	background-image: url("../images/behance.svg");
	background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
}

.instagram {
	background-image: url("../images/instagram.svg");
	background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
}

.pagenotfound {
    color: black; 
    text-align: left;
    margin-top: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.oops {
    font-size: 50px;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
}

.try-again {
    color: #8A2BE2;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

@media (min-width: 480px) and (max-width: 979px) {
  
}

footer {
    margin: 0 auto;
    padding: 0;
}

.social-media {
	position: absolute;
    display: inline-block;
}

.social-media a {
	opacity: 0.8;
	display: inline-block;
	padding: .3em .3em .3em .3em;
}

.copyright {
    padding-top: 5em;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
}


@media only screen and (min-width: 25em) {
    
    .email {
        margin-right: 1em;
    }
    
    .linkedin {
        margin-right: 1em;
    }
    
    .behance {
        margin-right: 1em;
    }
    
    .instagram {
        margin-right: 2em;
    }
    
    .copyright {
        font-size: 10px;
        text-align: left;
    }
    
    footer {
        overflow: hidden;
        padding-left: 0;
        margin-left: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    
    .back-button {
        font-weight: 400;
        font-size: 15px;
        padding-left: 50px;
    }
}

@media only screen and (min-width: 38em) {
    
    .logo {
        margin-left: 0;   
    }
    
    .nav-bar {
        margin-left: 8em; 
    }
    
    .about-content {
        margin-left: 8em;
    }
    
    h1 {
        padding-left: 0;
    }
    
    .intro {
        padding-left: 0;
    }
    
    footer { 
        padding-left: 0;
        margin-left: 8em;
        margin-top: 4em;
        margin-bottom: 4em;
    }
    
    .work {
        padding: .5em;
    }
    
    .email {
        width: 2em;
        height: 2em;
        margin-right: 1.5em;
    }
    
    .linkedin {
        width: 2em;
        height: 2em;
        margin-right: 1.5em;
    }
    
    .behance {
        width: 2em;
        height: 2em;
        margin-right: 1.5em;
    }
    
    .instagram {
        width: 2em;
        height: 2em;
        margin-right: 2em;
    }
    
    .info {
        margin-left: 5.5em;
        margin-right: 2.5em;
    }
}

@media only screen and (min-width: 60em) {
    
    .nav {
        margin-right: 8em;
    }

    .email {
        width: 2em;
        height: 2em;
        margin-right: 2em;
    }
    
    .linkedin {
        width: 2em;
        height: 2em;
        margin-right: 2em;
    }
    
    .behance {
        width: 2em;
        height: 2em;
        margin-right: 2em;
    }
    
    .instagram {
        width: 2em;
        height: 2em;
        margin-right: 2em;
    }
    
    .copyright {
        text-align: center;
    }
    
    .info {
        margin-left: 5.5em;
        margin-right: 50em;
    }

    .portfolio-h1 {
        font-size: 40px;
    }

    .pagenotfound {
        margin-top: 25%;
        margin-left: 25%;
        margin-right: 25%;
    }
}
