<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>The Portfolio of Mystine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/typography.css" rel="stylesheet">
	<link href="css/grids.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,700' rel='stylesheet' type='text/css'>
</head>
    
<body>
    <ul class="skip-links">
        <li><a href="#main">Skip to Main Content</a></li>
        <li><a href="#contentinfo">Skip to Content Info</a></li>
    </ul>
    
<div class="nav-bar">
    <a class="logo" href="mystine" ><img src="images/logo.svg" alt="mystine"></a>
    <nav id="nav" role="navigation">
        <ul class="nav">
            <li class="nav-links"><a class="kilo" href="#work">work</a></li>
            <li class="nav-links"><a class="kilo" href="#contact">contact</a></li>
        </ul>
    </nav>
</div>

<header class="billboard"></header> 

{{content}}
    
<footer class="footer-info" id="contentinfo" role="contentinfo">
    <h2 class="sub">Let's Connect</h2>
        <div class="social-media" id="contact">
            <a class="mobile-icon email" alt="email icon" href="mailto:hello@mystine.ca"> </a>
            <a class="mobile-icon behance" alt="behance icon" href="https://www.behance.net/MystineLaframboiseVien"></a>
            <a class="mobile-icon linkedin" alt="linkedin icon" href=""></a>
            <a class="mobile-icon instagram" alt="instagram icon" href=""></a>
        </div>

        <div class="copyright">
            <p>Copyright © 2016 Mystine Laframboise Vien</p>
        </div>
</footer>     

</body>
</html>